---
permalink: /404.html
---
<!DOCTYPE html>
<html>

  {% include main-head.html %}

  <body>
    {% include post-nav.html %}


    <header class="site-header">

      <div class="jumbotron jumbotron-fluid" style="background-color:#7060A7">
        <div class="container">
          <h1 class="display-3">404, or not found</h1>
          <span class="lead">in Kotlin Resources?</span>
        </div>
      </div>

    </header>

    <div class="container">
      <div class="row">
        <div class="col">
          Add here
        </div>
      </div>
    </div>


    {% include main-footer.html %}
  </body>

</html>
