---
layout: default
---
<div class="container">
  <div class="row">
    {% for post in paginator.posts %}
      {% assign loopindex = forloop.index | modulo: 4 %}

      {% if loopindex == 1 %}
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 card-wrapper" style="display:flex" {{loopindex}}>
          <div class="card" style="width:100%">
            <img class="card-img-top" data-src="holder.js/100px100/" alt="Card image cap">
            <div class="card-block">
                  <h4 class="card-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                  <p class="card-text">{{ post.description }}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
              <a href="{{ site.baseurl }}/category/{{ post.categories }}" class="btn btn-success btn-sm" role="button">{{ post.categories }}</a>
            </div>
          </div>
        </div>

      {% else %}

        <div class="col-md-6 col-lg-3 card-wrapper" style="display:flex" {{loopindex}}>
          <div class="card" style="width:100%">
            <img class="card-img-top" data-src="holder.js/100px100/" alt="Card image cap">
            <div class="card-block">
                  <h4 class="card-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                  <p class="card-text">{{ post.description }}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
              <a href="{{ site.baseurl }}/category/{{ post.categories }}" class="btn btn-success btn-sm" role="button">{{ post.categories }}</a>
            </div>
          </div>
        </div>

      {% endif %}
    {% endfor %}
  </div>
</div>
