<div class="kotlinconf-banner" style="background-color: #2281fb!important; font-family: Open Sans,Helvetica,Arial,sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8" style="padding-top: 15px; padding-bottom: 15px; text-align: center;">
                <a class="banner-text" href="https://kotlinconf.com/registration?utm_source=kotlinresources" target="_blank">
                    <span class="banner-item title" style="color: #fff; text-decoration: none; font-size: 21px;">
                       KotlinConf Live Stream
                    </span>
                    <span class="banner-item underline" style="color: #fff; text-decoration: underline; font-size: 14px; margin-left: 10px;">
                        Sign up
                    </span>
                </a>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>