
<header class="site-header">

  <div class="jumbotron jumbotron-fluid page-jumbotron" style="background-color:#7060A7">
    <div class="container">
      {% if page.type == "category" %}
        <h1 class="display-3">'{{ page.title }}' Kotlin resources</h1>
        <!-- <p class="lead">- archive of posts</p> -->
      {% elsif page.type == "tag" %}
        <h1 class="display-3">'{{ page.title }}' Kotlin resources</h1>
        <!--<p class="lead">- archive of posts</p> -->
      {% elsif page.type == "year" %}
        <h1 class="display-3">Archive of posts from {{ page.date | date: "%Y" }}</h1>
      {% elsif page.type == "month" %}
        <h1 class="display-3">Archive of posts from {{ page.date | date: "%B %Y" }}</h1>
      {% elsif page.type == "day" %}
        <h1 class="display-3">Archive of posts from {{ page.date | date: "%B %-d, %Y" }}</h1>
      {% endif %}
    </div>
  </div>

</header>
