<header>

  <div class="jumbotron jumbotron-fluid" style="background-color:#7060A7">
    <div class="container text-center">
      <h1 class="display-3">{{ site.title }}</h1>
      <p class="lead">The ultimate resource list for your most loved coding language.</p>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
            {% include search-form-lg.html %}
        </div>
      </div>
      <div class="tag-list">
        {% for tag in site.tags %}
          {% assign t = tag | first %}
          <a href="tag/{{ t }}">{{ t }}</a>,
        {% endfor %}
      </div>
    </div>
  </div>

</header>
