<!-- Sumo -->
<script src="//load.sumome.com/" data-sumo-site-id="32b39f12d258cb357fc282782b3a75d99212af9abba0e8a486ef0e52885082de" async="async"></script>

<!-- Algolia -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3.6.0/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/imsky/holder/master/holder.js"></script>

<!-- Application -->
<script src="{{ site.baseurl }}/js/application.js"></script>

<!-- Github Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<footer>

  <div class="container-fluid">
    <div class="container">


      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 text-left">
          <p>More useful for <a href="https://www.kotlindevelopment.com">Kotlin Development</a></p>
          <p>Follow us on <a href="https://twitter.com/HelloKotlin">twitter</a></p>


        </div>
        <div class="col-lg-6 text-right">
                    <p>Made with <img src="{{ site.baseurl }}/assets/makery-mobile-development-logo.svg" height="30" alt="Makery mobile development"> by <a href="https://makery.co">Makery</a></p>
        </div>
      </div>
    </div>
  </div>

</footer>
