

<header class="site-header">

  <div class="jumbotron jumbotron-fluid page-jumbotron">
    <div class="container">
      <div class="row">
        <div class="col">

          <a class="source-url" href="{{ page.sourceUrl }}" target="_blank"><h1 class="display-3">{{ page.title }}</h1></a>
          <h5 class="display-5">{{ page.description }}</h5>
          <span class="lead">
            Please follow the steps below to contribute in Kotlin Resources.
          </span>
        </div>

      </div>
    </div>
  </div>

</header>
