

<header class="site-header">

  <div class="jumbotron jumbotron-fluid" style="background-color:#7060A7">
    <div class="container">
      <h1 class="display-3">{{ page.title }}</h1>
      <h5 class="display-5">{{ page.description }}</h5>
      <span class="lead">by
        <a class="source-url" href="{{ page.source-url }}" target="_blank">{{ page.author.display_name }}</a>
        in
        <a href="{{ site.baseurl }}/category/{{ page.categories }}" class="btn btn-success btn-sm" role="button">{{ page.categories }}</a>
      </span>
      <p>
        <small>
          {% assign readtime = page.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
          Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
        </small>
      </p>
    </div>
  </div>

</header>
