<div class="col-md-4 col-lg-3">
  <div class="card" style="width:100%">
    <img class="card-img-top" data-src="holder.js/100px100/" alt="Card image cap">
    <div class="card-block">
          <h4 class="card-title"><a href="#">Ajánló</a></h4>
          <p class="card-text">ajánló leírása</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-success btn-sm">tag</button>
    </div>
  </div>
</div>
